.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0;
    margin-top: 5rem;
    overflow:auto;
    background-color: var(--amarilo);
}
.timer{
    text-align: center;
    margin-top: 2rem;
    justify-content: space-evenly;
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 5rem;
}
@media (min-width: 832px) {
    .timer{
        display: flex;
        align-items: center;
        gap: 10rem;
    }
}
@media (min-width: 1024px) {
    .timer{
        font-size: 3.25rem;
    }
}


.timer span{
    color: black;
}
.timer p{
    color: white;
}
.date{
    font-weight: bold;
}
.buttonoff{
    background-color: white;
    text-transform: uppercase;
    color: black;
    border: none;
    font-weight: bold;
    font-size: 2rem;
    margin-top: 2rem;
    padding: 3rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s;
}

.buttonoff:hover{
    background-color: var(--gris3);
    cursor: pointer;
}