:root{
  --gris: #3d3d3d;
  --gris2: #6f6f6f;
  --gris3: #e1e1e1;
  --naranja: #da552f;

  --amarilo: rgb(250, 192, 52);
}

html{
  font-size: 62.5%;
  box-sizing: border-box;
}
*,*:before,*:after {
  box-sizing: inherit;
}
body {
  font-size: 1.6rem;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif,'PT Sans';
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url("https://lh3.googleusercontent.com/eOXsbqLA2Pb6yLJtu80BV2Xlq98tTeBsnBuoMxFZiEG-F7BMR_-mMMd4g43uHkFW10MM1TszbhmgA51wFC-dnXKGdR_PJACcfy8=w1153");

}

h1,h2,h3{
  margin: 0 0 2rem 0;
  line-height: 1.5;
}

h1,h2{
  font-family: 'Roboto Slab', serif;
}
h3{
  font-family: 'PT Sans', sans-serif;
}
p, li {
  font-family: Roboto Slab;
  color: rgba(0,0,0,1);
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
.listado-productos {
  background-color: #f3f3f3;
}
.contenedor {
  max-width: 1200px;
  width: 95%;
  padding: 5rem 0;
  margin: 0 auto;
}
.bg-white {
  background-color: #FFF;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 400ms ease;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}
